---
import { Image } from 'astro:assets'

import imageForta from '$images/study-forta.jpg'
---

<h4 class="mb-4 text-center h3">
  <u>Estudio EMI Fortalezas</u>
</h4>

<div class="row">
  <div class="col col-xl-5 col-xxl-4 d-none d-lg-block">
    <Image
      loading="lazy"
      class="img-fluid mt-4 rounded"
      src={imageForta}
      format={'webp'}
      widths={[540, 720]}
      sizes={`(max-width: 1200px) 540px, 720px`}
      alt="side girl with headphones"/>
  </div>

  <div class="col">
    <dl>
      <dt class="text-primary">Participación</dt>
      <dd>
        <p class="ms-3">
          <a
            class="btn btn-outline-warning fw-bold disabled"
            href="mailto:impulsaprometeo@gmail.com?subject=Participar%20estudio%20Forta">
            Próximamente
          </a>
        </p>
      </dd>

      <dt class="text-primary">¿En qué estado se encuentra?</dt>
      <dd>
        <p class="ms-md-3">
          En proceso de diseño
        </p>
      </dd>

      <dt class="text-primary">Tipo de estudio</dt>
      <dd>
        <p class="ms-md-3">Intervención</p>
      </dd>

      <dt class="text-primary">Fecha de inicio</dt>
      <dd>
        <p class="ms-md-3">Sin establecer</p>
      </dd>

      <dt class="text-primary">Objetivos</dt>
      <dd>
        <p class="ms-md-3">
          Comparar el impacto en el bienestar y la psicopatología de una microintervención para incrementar el conocimiento de fortalezas frente a otra dirigida a aumentar conocimiento y uso de éstas.
        </p>
      </dd>
    </dl>
  </div>

  <dl>
    <dt class="text-primary">Descripción</dt>
    <dd>
      <p class="ms-md-3">
        El estudio consiste en recibir una serie de notificaciones móviles durante una semana sobre el conocimiento y uso de las fortalezas personales.
      </p>
    </dd>

    <dt class="text-primary">Contacto</dt>
    <dd>
      <p class="ms-md-3">
        <a href="mailto:impulsaprometeo@gmail.com">impulsaprometeo@gmail.com</a>
      </p>
    </dd>
  </dl>

  <p class="text-center text-primary fw-bold lead">
    #Intervención #Fortalezas #EMI #Online
  </p>
</div>
