---
import Card from './Card.astro'
---

<Card
  title="Estudio EMI fortalezas"
  url="#section-forta">
  <div class="px-lg-4 py-3">
    <div class="mb-0 card-text">
      <p class="d-flex justify-content-start mb-0 lead">
        <span class="text-primary me-2">Participación:</span>
        <span
          style="display: list-item; list-style-position: inside;"
          class="text-warning">Próximamente</span>
      </p>

      <p class="mb-0 lead">
        <span class="text-primary me-2">Estado:</span>
        En construcción
      </p>

      <p class="mb-0 lead">
        <span class="text-primary me-2">Tipo de estudio:</span>
        Interveción
      </p>

      <p class="mb-0 lead" style="text-indent: var(--bs-body-font-size) hanging;">
        <span class="text-primary me-2">Descripción:</span>
        Un estudio centrado en las fortalezas humanas del carácter. Participa y probarás durante una semana una aplicación móvil sobre salud mental centrada en aquellas cosas que se nos dan bien.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary me-2">Duración:</span>
        8 días
      </p>

      <p class="mb-0 lead" style="text-indent: var(--bs-body-font-size) hanging;">
        <span class="text-primary me-2">Pobación objetivo:</span>
        Población general
      </p>
    </div>
  </div>
</Card>
