---
import Card from './Card.astro'
---

<Card
  title="Estudio Longitudinal"
  url="#section-long">
  <div class="px-lg-4 py-3">
    <div class="mb-0 card-text">
      <p class="d-flex justify-content-start mb-0 lead">
        <span class="text-primary me-2">Participación:</span>
        <span class="text-success fw-bold">Abierto</span>
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Estado:</span> Reclutamiento.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Tipo de estudio:</span> Evaluación.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Duración:</span> 4 meses.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Pobación objetivo:</span> Población general.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Descripción:</span> Participación en un estudio respondiendo encuestas sobre bienestar, sintomatología, valores y fortalezas en 4 momentos diferentes, con un informe personalizado de tus resultados intermedios y la oportunidad de participar en hasta 3 sorteos..
      </p>
    </div>
  </div>
</Card>
