---
import Card from './Card.astro'
---

<Card
  title="Estudio MRT Valores"
  url="#section-mrt">
  <div class="px-lg-4 py-3">
    <div class="mb-0 card-text">
      <p class="d-flex justify-content-start mb-0 lead">
        <span class="text-primary me-2">Participación:</span>
        <span
          style="display: list-item; list-style-position: inside;"
          class="text-warning">Próximamente</span>
      </p>

      <p class="mb-0 lead">
        <span class="text-primary me-2">Estado:</span>
        En construcción
      </p>

      <p class="mb-0 lead">
        <span class="text-primary me-2">Tipo de estudio:</span>
        Interveción
      </p>

      <p class="mb-0 lead" style="text-indent: var(--bs-body-font-size) hanging;">
        <span class="text-primary me-2">Descripción:</span>
        Un estudio pensado para ayudarte a actuar con mayor congruencia con tus valores mediante en una aplicación móvil. Aprende a superar los obstáculos cotidianos y descubre cómo vivir de forma auténtica, alineado/a con lo que realmente te importa. Podrás ganar 20€
      </p>

      <p class="mb-0 lead">
        <span class="text-primary me-2">Duración:</span>
        21 días
      </p>

      <p class="mb-0 lead" style="text-indent: var(--bs-body-font-size) hanging;">
        <span class="text-primary me-2">Pobación objetivo:</span>
        Población general
      </p>
    </div>
  </div>
</Card>
