---
import Card from './Card.astro'
---

<Card
  title="Estudio EMIA Valores"
  url="#section-valor">
  <div class="px-lg-4 py-3">
    <div class="mb-0 card-text">
      <p class="d-flex justify-content-start mb-0 lead">
        <span class="text-primary me-2">Participación:</span>
        <span
          style="display: list-item; list-style-position: inside;"
          class="text-success">Abierto</span>
      </p>

      <p class="mb-0 lead">
        <span class="text-primary me-2">Estado:</span>
        Reclutamiento
      </p>

      <p class="mb-0 lead">
        <span class="text-primary me-2">Tipo de estudio:</span>
        Investigación
      </p>

      <p class="mb-0 lead" style="text-indent: var(--bs-body-font-size) hanging;">
        <span class="text-primary me-2">Descripción:</span>
        Estudio centrado en valores personales, en el que recibirás notificaciones para reflexionar sobre distintos aspectos de lo que es importante para ti en la vida. Podrás ganar 15€ por participar.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary me-2">Duración:</span>
        8 días
      </p>

      <p class="mb-0 lead" style="text-indent: var(--bs-body-font-size) hanging;">
        <span class="text-primary me-2">Pobación objetivo:</span>
        Población general
      </p>
    </div>
  </div>
</Card>
