---
import Card from './Card.astro'
---

<Card
  title="Estudio con Grupos Focales"
  url="#section-focal">
  <div class="px-lg-4 py-3">
    <div class="mb-0 card-text">
      <p class="d-flex justify-content-start mb-0 lead">
        <span class="text-primary me-2">Participación:</span>
        <span class="text-danger fw-bold">Cerrado</span>
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Estado:</span> Análisis de resultados.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Tipo de estudio:</span> Evaluación.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Duración:</span> 1 sesión.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Pobación objetivo:</span> Participante con alguna condición mental/médica.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Descripción:</span> Conversación en un ambiente tranquilo sobre aspectos positivos del ser humano, incluyendo emociones positivas, valores, fortalezas y el diseño de la futura app Impulsa.
      </p>
    </div>
  </div>
</Card>
