---
import Card from './Card.astro'
---

<Card
  title="Estudio EMI Valores"
  url="#section-valor">
  <div class="px-lg-4 py-3">
    <div class="mb-0 card-text">
      <p class="d-flex justify-content-start mb-0 lead">
        <span class="text-primary me-2">Participación:</span>
        <span class="text-success fw-bold">Abierto</span>
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Estado:</span> Reclutamiento.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Tipo de estudio:</span> Investigación.
      </p>

      <p class="mb-0 lead">
        <span class="text-primary">Duración:</span> 8 días.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Pobación objetivo:</span> Población general.
      </p>

      <p class="mb-0 lead card-studies-indent">
        <span class="text-primary">Descripción:</span> Estudio centrado en valores personales, en el que recibirás notificaciones para reflexionar sobre distintos aspectos de lo que es importante para ti en la vida. Podrás ganar 15€ por participar.
      </p>
    </div>
  </div>
</Card>
